<footer class="bg-black border-t border-pink-600/20 py-6">
  <div class="container mx-auto px-4">
    <div class="flex justify-between">
      <div class="text-md font-bold text-gray-400">
        2025 Elysium.
      </div>
      <div class="flex flex-row gap-2" >
      </div>
    </div>
  </div>
</footer>