<header class=" bg-black/95 border-b border-pink-600/20 sticky top-0 z-50 text-gray-400 font-semibold">
  <div class="container mx-auto px-4 py-5">
    
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-2">
        <span><%= link_to "Elysium", root_path %></span>

      </div>
      <div>
        <span><%= link_to "Products", products_path %></span>
      </div>
      <div>
        Contact
      </div>
      <%# <div> %>
        <%# <span> %>
          <%#<%= link_to "Usuarios", users_path %>
        <%# </span> %>
      <%# </div> %>
      
      <div>
        <button
          class="p-2 px-4 rounded-lg bg-gradient-to-r from-purple-600 to-fuchsia-700 hover:from-purple-900 hover:to-fuchsia-800 border-0">
            <span>
              Login
            </span>
        </button>
      </div>
    </div>
  </div>
</header>