<nav>
  <ul>
    <li class="bg-violet-500"><%= link_to "Inicio", root_path %></li>
    <li><%= link_to "Productos", products_path %></li>
    <li><%= link_to "Usuarios", users_path %></li>
  </ul>
</nav>
