<div class="flex max-w-[1600px] mx-auto flex-col justify-center h-full text-6xl sm:text-6xl md:text-8xl lg:text-[10rem] xl:text-[12rem] 2xl:text-[13rem] w-full">
  <div class=" hidden lg:grid">
    <p class="flex text-[8px] lg:text-[14px] md:text-[10px] text-left w-full text-gray-400 gap-16 leading-normal font-semibold">
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elysium was</span>
      <span>created as a project where ...</span>
    </p>
    <p class="flex text-[8px] lg:text-[14px] md:text-[10px] text-left w-full text-gray-400 gap-8 leading-normal font-semibold">
      <span></span>
      <span>minds that wander </span>
      <span></span>
      <span></span>
      <span></span>
      <span>beyond the ordinary...</span>
    </p>
    <p class="flex text-[8px] lg:text-[14px] md:text-[10px] text-left w-full text-gray-400 gap-16 leading-normal font-semibold">
      <span>Not a place.  A state of mind.</span>
      <br/>
      <span>Not a rule.</span>
    </p>
    <p class="flex text-[8px] lg:text-[14px] md:text-[10px] text-left w-full text-gray-400 gap-5 leading-normal font-semibold">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span>Born in the echoes of dreams </span>
      <span>too vivid to fade.</span>
      </span>
    </p>
    <p class="flex text-[8px] lg:text-[14px] md:text-[10px] text-left w-full text-gray-400 gap-7 leading-normal font-semibold">
      <span class="flex gap-2">
        <span></span>
        <span></span>
      </span>
      </span>
      <span>Where creation breathes</span>
      <span></span>
      <span></span>
      <span></span>
      <span>boundaries dissolve</span>
    </p>
    <p class="flex text-[8px] lg:text-[14px] md:text-[10px] text-left w-full text-gray-400 gap-7 leading-normal font-semibold">
      <span class="flex gap-2">
        <span></span>
      </span>
        <span></span>
      </span>
      </span>
      <span>Beneath the silence</span>
      <span></span>
      <span>he world still sings</span>
    </p>
    <p class="flex text-[8px] lg:text-[14px] md:text-[10px] text-left w-full text-gray-400 gap-8 leading-normal font-semibold">
      <span></span>
      <span></span>
      <span></span>
      <span>A horizon you can only reach</span>
      <span></span>
      <span> by closing your eyes.</span>
    </p>
  </div>

  
  <div class=" tracking-widest my-5">
    <h1 class="flex justify-center font-bold">
    <%#  %>
    <span class="bg-gradient-to-tr from-pink-600 to-violet-700 bg-clip-text text-transparent z-20">
      ELYS
    </span>
    <span class="bg-gradient-to-tr from-violet-600 to-pink-700 bg-clip-text text-transparent z-20">
      IUM
    </span>
    </h1>
  </div>

  <div class=" grid grid-cols-1 lg:grid-cols-2 z-20">
    <div class="my-auto mx-auto">
        <%= link_to "Explore collection", products_path, class: "flex items-center justify-center gap-2 py-3 h-12 rounded-md px-10 my-5 lg:my-0 lg:px-20
          bg-gradient-to-r from-pink-600/80 to-purple-800/80 hover:from-pink-700/60 hover:to-purple-900
          text-white text-lg font-medium transition-colors duration-300
          focus:outline-none focus:ring-1 focus:ring-violet-800 focus:ring-offset-1 " %>

    </div>
    <div class="hidden lg:grid">
      <p class="flex justify-end text-[8px] lg:text-[14px] md:text-[10px] text-right w-full text-gray-400 gap-8 leading-normal font-semibold">
      <span>Elysium was</span>
      <span>created as a project where ...</span>
      </p>
      <p class="flex justify-end text-[8px] lg:text-[14px] md:text-[10px] text-right w-full text-gray-400 gap-5 leading-normal font-semibold">
        <span>A sanctuary for minds </span>
        <span>that wander beyond the ordinary...</span>
        <span></span>
        <span></span>
      </p>
      <p class="flex justify-end text-[8px] lg:text-[14px] md:text-[10px] text-right w-full text-gray-400 gap-3 leading-normal font-semibold">
        <span>Only what you dare</span>
        <span class="flex gap-7">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <span></span>
        <span></span>
        <span>To create</span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </p>
      <p class="flex justify-end text-[8px] lg:text-[14px] md:text-[10px] text-right w-full text-gray-400 gap-5 leading-normal font-semibold">
        <span>Step in</span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span>and let them inhale you</span>
        <span></span>
        <span></span>
        <span></span>
      </p>
      <p class="flex justify-end text-[8px] lg:text-[14px] md:text-[10px] text-right w-full text-gray-400 gap-5 leading-normal font-semibold">
        <span>This is where</span>
        <span></span>
        <span></span>
        <span></span>
        <span>They converge</span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </p>
      <p class="flex justify-end text-[8px] lg:text-[14px] md:text-[10px] text-right w-full text-gray-400 gap-7 leading-normal font-semibold">
        <span></span>
        <span></span>
        <span>Every note a step closer</span>
        <span>to the unknown.</span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </p>
      <p class="flex justify-end text-[8px]  lg:text-[14px] md:text-[10px] text-right w-full text-gray-400 gap-8 leading-normal font-semibold">
        <span>A future you can touch</span>
        <span>but never own.</span>
        <span></span>
        <span></span>
        <br/>
        <span></span>
        <span></span>
        <span></span>
      </p>
    </div>

    </div>

  </div>
  
  